# Prevent directory listing
Options -Indexes

# Block direct access to sensitive directories
RedirectMatch 404 /\.git
RedirectMatch 404 /vendor
RedirectMatch 404 /template
RedirectMatch 404 /lib
RedirectMatch 404 /config\.php$
RedirectMatch 404 /config\.example\.php$
RedirectMatch 404 /composer\.(json|lock)$
